MONGODB_URI=mongodb://localhost:27017/
DATABASE_NAME=detection_system

FLASK_ENV=development
FLASK_DEBUG=True
HOST=0.0.0.0
PORT=5000

MODEL_PATH="../AI/weights/best.pt"
VIDEO_URL=http://0.0.0.0:4747/video

MQTT_BROKER=localhost
MQTT_PORT=1883

MQTT_TOPIC_DETECTIONS=detections
MQTT_TOPIC_COMMANDS=commands
MQTT_TOPIC_SNAPSHOTS=snapshots
MQTT_TOPIC_ACK=ack

# For MongoDB Atlas:
# MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/

# For custom MongoDB:
# MONGODB_URI=mongodb://username:password@your-server:27017/
